*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

/*-----------/navbar/------------*/
#Nav{
    position: fixed;
}
/*-------------------------------*/

/*-----------/hero/------------*/
#hero{
    background-color: #212529;
    padding-top: 100px;
    padding-bottom: 20px;
}
.heroText{
  color: #ececeb;
}
.heroText>h1{
    font-family: "Oswald" ;
    font-size: 5rem;
}
.heroText>p{
    font-size: 2rem;
}
.row>img{
    border-radius: 50%;
height: 200px;
}

/*-------------------------------*/

/*-----------/resume/------------*/
#resume{
    font-size: 2rem;
    background-color: #92c0e7;
}
#resume>.container{
    padding-top: 20px;
    padding-bottom: 20px;
}
#resume h3{
    font-family: "Oswald";
    font-size:3.5rem;
}

/*-------------------------------*/

/*-----------/projects/----------*/
#projects{
    background-color: #212529;
}
.flexCont{
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
}
.pr img{
    border: 5px solid #1a1919;
    float: left;
    width: 50%;
    margin-right: 10px;
}
.pr h2, .pr p{
    color:#ececeb;
}
.pr h2{
    font-size:3rem;
}
.pr p{
    font-size:2rem;
}
.pr{
    margin-top: 20px;
}
/*-------------------------------*/

/*-----------/about me/----------*/
/*-------------------------------*/

/*-----------/Contact/----------*/
/*-------------------------------*/









