*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

/*-----------/navbar/------------*/
#Nav{
    position: fixed;
}
/*-------------------------------*/

/*-----------/hero/------------*/
#hero{
    height: 400px;
    background-color: #212529;
    display: flex;
    align-items: center;
}
.heroText{
  color: #ececeb;
}
.heroText>h1{
    font-family: "Oswald" ;
    font-size: 5rem;
}
.heroText>p{
    font-size: 2rem;
}
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px;
}

/*-------------------------------*/

/*-----------/resume/------------*/
#resume{
    font-size: 2rem;
    background-color: rgb(146, 192, 231);
}
#resume>.container{
    padding-top: 20px;
}
#resume h3{
    font-family: "Oswald";
    font-size:3.5rem;
}
/*-------------------------------*/

/*-----------/projects/----------*/

/*-------------------------------*/
/*-----------/about me/----------*/
/*-------------------------------*/











